.settingsItem{
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.settingLeft{
  display: inline-block;
  margin: 5px 10px 5px 0;
  cursor: pointer;
}
.settingRight{
  display: flex;
  flex-flow: column;
  width: 100%;
  opacity: 0.7;
  pointer-events: none;
}
.settingRight.active{
  opacity: 1;
  pointer-events: all;
}
.description{
  font-size: 13px;
  color: rgb(158, 158, 158);
}
.inputCityContainer{
  position: relative;
  padding-top: 40px;
}
.inputCity{
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 3px;
}

.hintCityContainer {
  position: absolute;
  top: 3px;
  left: 0px;
  right: 0;
  overflow: hidden;
  margin-top: 4px;
}
.hintCityContainer:after{
  position: absolute;
  content: '';
  right: -4px;
  top: 0px;
  display: block;
  width: 50px;
  height: 30px;
  background: linear-gradient(90deg, transparent 0%, rgb(245, 243, 243) 60%);
}
.hintCitiInner{
  width: 2000px;
}
.hintCity{
  cursor: pointer;
  display: inline-block;
  padding: 2px 4px;
  background-color: rgb(229, 226, 226);
  border-radius: 7px;
  margin: 0 5px 5px 0;
  transition: all .15s ease;
  font-size: 14px;
}
.hintCity:hover{
  background-color: rgb(212, 209, 209);
}
.wrapperTitle{
  align-items: flex-end;
  display: flex;
}
.typeTitle{
  display: inline-block;
  margin-right: 10px;
}
.loading{
  position: absolute;
  right: 0;
  top: 0px;
  opacity: 0.4;
}
.errors{
  display:inline-block;
  margin-top: 3px;
  font-size: 13px;
  color: rgb(131, 23, 23);
  font-weight: 500;
  text-transform: lowercase;
}