
.box{
  position: relative;
  display: flex;
}
.loadingWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all .13s ease;
}
.loadingWrapper.active{
  opacity: 1;
  pointer-events: all;
}
.loading{
  width: 130px;
  height: 130px;
}
.boxRight{
  width: 40%;
}
.mainInfoTemp{
  display: flex;
  align-items: center;
  margin: 10px 0;
  /* background-color: rgb(199, 207, 218); */
  border-radius: 2px;
  border: 1px solid rgb(221, 221, 221);
}
.temperature{
  display: inline-block;
  min-width: 40px;
  
  text-align: center;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
}
.typeWeather{
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.imageWeather{
  width: 70px;
  height: 70px;
}
.typeWeatherDescription{
  font-size: 15px;
  color: rgb(80, 80, 80);
}

.detailBox{
  margin: 10px 0;
}
.detailBoxItem{
  display: flex;
  justify-content: space-between;
}
.coordinate{
  display: inline-block;
  margin: 5px 0 10px 0;
  font-size: 13px;
  font-weight: 600;
  color: rgb(172, 172, 172);
}
.moreInfoList{
  margin: 15px 0;
  border-radius: 2px;
  border: 1px solid rgb(221, 221, 221);
  padding: 13px 10px 5px 10px;
}
.moreInfoItem{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.moreInfoTitle{
  font-size: 14px;
  font-weight: 500;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date{
  display: inline-block;
  font-size: 15px;
  color: rgb(128, 128, 128);
  margin-left: 10px;
  font-weight: 600;
}
.titleCity{
  display: inline-block;
  margin-bottom: 0px;
}
.moreInfoValue{
  font-weight: 500;
  font-size: 15px;
}