.buttonChangeDay{
  position: absolute;
  bottom: 0px;
  left: 0;
  padding: 0;
  width: 50%;
  display: inline-block;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: all .15s ease;
}
.buttonChangeDay:not(:disabled):hover{
  background-color: rgb(0, 77, 179);
}
.buttonChangeDay_right{
  left: initial;
  right: 0;
}
.buttonChangeDay:disabled {
  pointer-events: none;
  cursor: none;
}

.buttonChangeDayLink{
  display: inline-block;
  padding: 15px 15px;
  width: 100%;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 15px;
  text-transform: lowercase;
  text-decoration: none;
  color: #fff;
}