.container{
  padding: 20px;
}
.settingsList{
  list-style: none;
  margin: 0 0 20px 0;
  padding: 0;
}
.coordinate{
  display: inline-block;
  margin: 5px 0 10px 0;
  font-size: 13px;
  font-weight: 600;
  color: rgb(172, 172, 172);
}
.buttonSave{
  position: absolute;
  bottom: 20px;
  display: inline-block;
  border: none;
  
  border-radius: 3px;
  background-color: rgb(23, 104, 211);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .15s ease;
}
.buttonSave:hover{
  background-color: rgb(19, 89, 180);
}
.buttonSave:disabled{
  background-color: rgb(192, 192, 192);
  pointer-events: none;
  cursor: none;
}
.buttonSavelink{
  display: inline-block;
  padding: 7px 15px;
  font-weight: 500;
  font-size: 15px;
  text-transform: lowercase;
  text-decoration: none;
  color: #fff;
}
.title{
  display: inline-block;
  margin-top: 0;
  font-size: 20px;
  margin: 10px 10px 10px 0;
}
